
/* App.css */
.card-hover:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9); /* Dark black shadow on hover */
  cursor: pointer; /* Change cursor on hover */
  transition: box-shadow 0.3s;
}


/* Define a custom card size */
.custom-card {
  width: 300px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  /* Add any other CSS properties you want for customization */
}



/* Reduce the gap between columns */
.custom-column {
  margin: 0; /* Remove the default column margin */
  padding: 0; /* Remove any padding, if necessary */
}



