.fullBody {
  margin-top: 30px;
}


/* Default grid layout for screens wider than 768px */
.custom-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Default: 5 columns */
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  margin: 27px;

}

/* Grid layout for screens up to 768px (4 columns) */
@media (max-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 576px) {
  .custom-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .custom-item {
    height: auto;
    /* Set the height to 'auto' for mobile */
  }

  .first-item {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}



.custom-item {
  /* Add any additional styling for grid items here */
}

.first-item {
  grid-column: span 2;
  grid-row: span 2;
}

.hover12 figure img {
  opacity: 100;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


.card-item {
  position: relative;
  overflow: hidden;
}

.card-item {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card-item:hover .overlay {
  opacity: 1;
}

.form-check-input {
  z-index: 10;
}

.text-danger {
  cursor: pointer;
}



.custom-card-container {
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 228px;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust this as needed to center vertically */
}




.custom-item.dragged {
  opacity: 0.7;
}

.custom-item.target {
  border: 2px dashed blue;
  transform: scale(1.05);
}


figure {
  margin: 0 0 0rem !important;
}

.delete-files:hover {
  text-decoration: underline;
  cursor: pointer;
}


body {
  background-color:#d7d7d77a !important;
}

/* App.css */







